<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Editing post</h1>

  <%= render "form", post: @post %>

  <%= link_to "Show this post", admin_post_path(@post), class: "button" %>
  <%= link_to "Back to posts", admin_posts_path, class: "button" %>
</div>
