<div id="<%= dom_id post %>" class="flex flex-col items-center">
  <h1 class="my-5 text-6xl">
    <%= post.title %>
  </h1>

  <%= render "post_timestamps", post: post %>

  <p class="my-5">
    <%= post.body %>
  </p>
</div>
