<nav class="container bg-nord0 h-14 mx-auto px-4 flex flex-row items-center justify-between border-b-2 border-nord4">
  <div class="min-w-fit text-nowrap flex flex-row items-center">
    <%= heroicon "command-line" %>
    <%= link_to "Did Llamas Know?", root_path, class: "text-3xl px-4 py-2 text-nowrap" %>
  </div>
  <div class="text-2xl px-8">
    <%= link_to "Blog", posts_path %>
  </div>
</nav>
