  <aside id="sidebar" class="w-1/4 hidden md:flex flex-col items-center">
    <h1 class="text-2xl my-4">Welcome!</h1>
    <p class="my-2">
      Welcome to my development blog. I plan to write about various topics related to multiple technologies.
      (Mainly Ruby on Rails and NixOS in the beginning.) Look around in the posts on the home page.
    </p>
    <p>
      <strong>Note:</strong> The website's name is not related to Meta's <code>llama</code> AI models in any way.
    </p>
  </aside>
